*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  text-align: center;
}

.nav_auxiliar{
  width: 100%;
}

.logo{
  display: inline-block;
  width: 65%;
}

.lateral{
  width: 30%;
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
  margin-top: 30px;
}

input[type='search']{
  padding: 5px;
}

.navegacion{
  margin-top: 20px;
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 15%;
}

.inicio{
  margin-left: 5%;
}

.hamb,.shop{
  display: none;
}

.container{
  background-image: url(imagenes/fondo1.jpg);
  width: 80%;
  margin: 30px auto;
  border-radius: 40px;
  border: 1px solid lightgrey;
}

.texto{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-left: 50px;
  margin-top: 150px;
}
h1{
  font-size: 60px;
}
.texto p{
  font-size: 20px;
  margin-top: 20px;
}
.imagen{
  display: inline-block;
  background-image: url(imagenes/principal.jpeg);
  background-color: red;
  width:40%;
  height:70vh;
  background-size: cover;
  margin: 20px 0 20px 140px;
  border-radius: 30px;
}

.target{
  width: 450px;
  display: inline-block;
  padding: 10px;
  margin: 20px;
}

.target img{
  width: 400px;
  margin-left: 20px;
  height: 300px;
  border-radius: 20px;
}
.target p{
  font-size: 20px;
}

.container_productos{
  text-align: center;
}

.target button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin : 10px 0;
  background-color: #fcecdd8d;
  font-weight: bold;
  transition: 1s;
}
.target button:hover{
  background-color:  rgb(253, 219, 224);
  transition: 1s;
  color: white;

}
section{
  margin-top: 30px;
  margin-left: 20px;
}

#nosotros{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

#nosotros h2{
  font-size: 40px;
  margin-bottom: 10px;
}

#nosotros p{
  width: 90%;
  font-size: 20px;
}

#contactenos iframe{
  filter: grayscale(1);
  width: 100%;
}

footer{
  background-color: black;
}

footer li{
  display: inline-block;
  font-size: 30px;
  margin-left: 20px;
  color:white;
  margin-bottom: 20px;
}
.redes{
  position: relative;
  padding: 20px 0 0 0;
}

.redes-icono  {
  position:absolute;
  right: 20px;
  bottom: 2px;
}
@media(max-width:1024px){
  .logo{
    width: 55%;
  }
  .lateral{
    width: 40%;
  }
  .container{
    padding: 20px;
  }
  .texto{
    margin: 0;
    width: 40%;
  }
  .imagen{
    margin: 0;
    width: 45%;
    margin-left: 20px;
  }
  .target{
    width: 40%;
  }
  .target img{
    width: 300px;
  }
  #nosotros{
    padding: 20px;
  }
}
@media(max-width:767px){
  .nav_auxiliar{
  position: fixed;
  top: 10px;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid lightgray;
  }
  .logo img {
  width: 330px;
  vertical-align: middle;
  }
  .lateral{
    display: none;
  }
  .navegacion{
    display: none;
  }
  .hamb,.shop{
    display: inline-block;
    position: absolute; 
    top: 10px;
  }
  .hamb{
    left:10px;
  }
  .hamb a,.shop a{
    font-size: 35px;
  }
  .shop{
    right:20px;
  }

  .texto, .imagen {
    display: block;
    width: 80%;
    margin-top: 60px;
  }
  
  .imagen {
    height: 500px; 
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
  }
  .target{
    width: 40%;
  }
  .target img{
    width: 90%;
  }
}
